@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col text-center">
        <h1 class="display-4">Bem-Vindo</h1>
    </div>
</div>

<div class="row mt-5">

    <div class="col-8 offset-2">

        @if (Model.ErrorMessage is not null)
        {
            <div class="text-center mb-4">
                <span class="text-danger">@Model.ErrorMessage</span>
            </div>
        }

        <div class="">

            <form method="post">

                <div class="form-group text-center">
                    <label asp-for="@Model.Jogador.Nome" class="control-label"></label>
                    <input asp-for="@Model.Jogador.Nome" class="form-control" autofocus />
                    <span asp-validation-for="@Model.Jogador.Nome" class="text-danger"></span>
                </div>

                <div class="">
                    <label class="mt-4 mb-2 bg-secondary bg-opacity-25 w-100">Opções:</label>
                    @for (var i = 0; i <= Model.Tipos.Count - 1; i++)
                    {
                        <div class="form-check">
                            <input asp-for="@Model.Checks[i]" class="form-check-input" type="checkbox" />
                            <label asp-for="@Model.Checks[i]" class="form-check-label">@Model.Tipos[i].Descricao</label>
                        </div>
                    }
                </div>

                <div class="text-center">
                    <input type="submit" class="btn btn-primary mt-3" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
