@page
@using Aulas.Domain.Enums
@model Aulas.Web.Pages.PartidaModel
@{
}

<div class="row">
    <div class="col text-center bg-info text-white">
        <label>Acertos</label>
    </div>
    <div class="col text-center bg-danger text-white">
        <label>Erros</label>
    </div>
</div>

<div class="row">
    <div class="col text-center bg-info text-white">
        <label>@Model.Partida.Acertos</label>
    </div>
    <div class="col text-center bg-danger text-white">
        <label>@Model.Partida.Erros</label>
    </div>
</div>

@if (Model.Partida.FimDePartida())
{
    Model._logger.LogInformation("Key:{sessionId}, Fim da partida: {pontos}", HttpContext.Session.Id, @Model.Partida.PontuacaoFinal().ToString());

    <div class="text-center">
        <div class="row fs-1">
            @if (@Model.Partida.PontuacaoFinal() > 0)
            {
                <label>Parabéns @Model.Partida.Jogador.Nome!!!</label>
            }
        </div>
        <div class="row fs-2 text-info">
            @if (@Model.Partida.PontuacaoFinal() == 0)
            {
                <label class="text-danger">Você não fez nenhum ponto!</label>
            }
            else if (@Model.Partida.PontuacaoFinal() == 1)
            {
                <label>Você fez @Model.Partida.PontuacaoFinal() ponto.</label>
            }
            else if (@Model.Partida.Acertos == Model.Partida.Jogos.Count)
            {
                <label>Você é o MÁXIMO!! Fez @Model.Partida.PontuacaoFinal() pontos!!</label>
            }
            else
            {
                <label>Você fez @Model.Partida.PontuacaoFinal() pontos.</label>
            }
        </div>

        <div class="row mt-2">
            <div class="center-block">
                <a class="btn btn-outline-danger" asp-area="" asp-page="/Partida" asp-page-handler="Reiniciar">Reiniciar</a>
            </div>
        </div>
    </div>
}
else
{
    Model._logger.LogInformation("Key:{sessionId}, Pergunta: {pergunta} = {resposta}", HttpContext.Session.Id, Model.Partida.Jogos.Last().Pergunta, Model.Partida.Jogos.Last().Resposta);

    <div class="row">
        <div class="col-12">

            <div class="text-center" style="font-size: 20px">
                <label>@Model.Partida.Jogos.Last().Titulo</label>
            </div>

            <div class="text-center" style="font-size: 50px">
                <pergunta tipo="@Model.Partida.Jogos.Last().TipoPergunta.ToString()" value="@Model.Partida.Jogos.Last().Pergunta" />
            </div>
            @*            @if (@Model.Partida.Jogos.Last().TipoPergunta == ETipoPergunta.String)
        {
        <div class="text-center" style="font-size: 50px">
        <label>@Model.Partida.Jogos.Last().Pergunta</label>
        <label> = ?</label>
        </div>
        }
        else
        {
        <div class="text-center">
        <img src="@Model.Partida.Jogos.Last().Pergunta"/>
        </div>
        }
        *@
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-3">
            <form method="post" class="text-center">

                <div class="form-group">
                    <label asp-for="@Model.Resultado" class="control-label"></label>
                    <input asp-for="@Model.Resultado" class="form-control" value="" autofocus inputmode="@Model.Partida.Jogos.Last().TipoResposta.ToString().ToLower()" />
                    <span asp-validation-for="@Model.Resultado" class="text-danger"></span>
                </div>

                <div class="mt-2">
                    <input type="submit" class="btn btn-primary">
                    @*<a class="btn btn-outline-danger" asp-area="" asp-page="/Somar" asp-page-handler="Reiniciar">Reiniciar</a>*@
                </div>
            </form>
        </div>
    </div>
}

<div class="resultados mt-3">
    @for (int i = Model.Partida.Jogos.Count - 1; i >= 0; i--)
    {
        if (@Model.Partida.Jogos[i].RespostaInformada != "")
        {
            <div class="row mt">
                <div class="col-12 text-center">

                    @if (Model.Partida.Jogos[i].Acerto)
                    {
                        <pergunta class="jogada-certa" tipo="@Model.Partida.Jogos[i].TipoPergunta" value="@Model.Partida.Jogos[i].Pergunta" resposta="@Model.Partida.Jogos[i].RespostaInformada" />
                    }
                    else
                    {
                        <pergunta class="bg-danger text-white" tipo="@Model.Partida.Jogos[i].TipoPergunta" value="@Model.Partida.Jogos[i].Pergunta" resposta="@Model.Partida.Jogos[i].RespostaInformada" />
                    }



                    @*                    @if (Model.Partida.Jogos[i].Acerto)
            {
            <label class="jogada-certa">@Model.Partida.Jogos[i].Pergunta = @Model.Partida.Jogos[i].RespostaInformada</label>
            }
            else
            {
            <label class="bg-danger text-white">@Model.Partida.Jogos[i].Pergunta = @Model.Partida.Jogos[i].RespostaInformada</label>
            }
            *@
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
